.team {
  h2 {
    margin-bottom: 2rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 6rem;
}

.actor_group {
  display: inline-flex;
  flex-direction: column;

  .group_name {
    display: flex;
    align-items: center;
    gap: 16px;

    .line {
      height: 0.5px;
      width: 100%;
      background-color: $primary;
    }
  }

  span {
    color: $primary;
    font-size: 1.2rem;
  }

  .actors_expand {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .actor {
    width: 100%;
    max-width: 193.3px;
  }
}
