.actor_photo {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  img {
    object-fit: cover;
    // height: 170px;
    object-position: center center;
    transition: transform 0.3s ease-in-out;
    aspect-ratio: 5/7;
    &:hover {
      transform: scale3d(1.05, 1.05, 1);
    }
  }
}

.actor_name {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1rem 0 0;
  word-spacing: 99999px;
}

.actor_role {
  font-size: 0.9rem;
}
