.admin_section {
  .section_header {
    margin-bottom: 5rem;
  }
  .logout {
    text-transform: uppercase;
    color: $grey-text;
    font-size: 0.75rem;
    background-color: $grey;
    padding: 0 2rem;
    display: inline-flex;
    align-items: center;
    margin-left: 1rem;
    border: none;
    border-radius: 0.2rem;
    transition: all 0.2s ease-out;
    cursor: pointer;
    &:hover {
      background-color: $grey;
      color: $primary;
    }
  }
  .cms_content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 1.5rem;
  }
  aside {
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 0.2rem;

      li {
        padding: 1rem;
        cursor: pointer;

        &:hover {
          background-color: $grey;
        }
      }

      .isActive {
        background-color: $grey;
        color: $primary;
      }
    }
  }
  table {
    table-layout: auto;
    width: 100%;
    border-spacing: 0 0.2rem;
  }

  thead {
    border-spacing: 2rem;
  }
  thead > tr > td {
    padding: 1rem 1rem;
    color: $white-text;
    font-size: 0.9rem;
    cursor: pointer;
  }

  tbody {
    &:before {
      content: "@";
      display: block;
      line-height: 1rem;
      text-indent: -99999px;
    }
    tr {
      cursor: pointer;
      transition: all 0.75 ease-out;

      &:hover {
        background-color: $grey;
      }
    }

    tr td:first-child {
      width: 10%;
      padding: 0;
    }

    td {
      vertical-align: middle;
      padding: 0 1rem;
      width: auto;
    }
  }
  .visible {
    display: flex;
    width: 100%;
  }
  .hidden {
    display: none;
  }

  .cms_data-wrapper {
    width: 100%;
  }
}
