.news_wrapper {
  display: grid;
  gap: 2rem;

  @media screen and (min-width: 992px) {
    display: grid;
    grid-template-areas:
      "main a"
      "main b"
      "main c";
    gap: 1.5rem;
  }

  .blog_card {
    @media screen and (min-width: 992px) {
      &:first-of-type {
        grid-area: main;
        display: flex;
        flex-direction: column;

        .blog_thumbnail {
          flex: 3;
        }

        .blog_info {
          flex: 2;
          padding: 1rem 0 0;
        }
      }
    }
  }
}

.blog_card {
  display: flex;
  width: 100%;
  flex-direction: column;
  @media screen and (min-width: 767px) {
    flex-direction: row;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: auto;
  }

  .blog_thumbnail {
    @media screen and (min-width: 767px) {
      flex: 1;
      border-radius: 0.5rem;
      overflow: hidden;
    }

    img {
      aspect-ratio: 16/9;
      object-fit: cover;
      width: 100%;
      object-position: center top;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale3d(1.05, 1.05, 1);
      }
    }
  }

  .blog_info {
    flex: 1;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 767px) {
      padding: 0 1rem;
    }

    .blog_tag {
      font-size: 0.9rem;
      margin-bottom: 0.25rem;
      color: $primary;
    }

    .blog_date {
      font-size: 0.9rem;
    }
  }
}
