.play {
  display: flex;
  flex-direction: column;
  //   max-width: 280px;

  .play_info {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-right: 1rem;
  }

  .play_thumbnail {
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    display: flex;

    img {
      object-fit: cover;
      object-position: center top;
      width: 100%;
      aspect-ratio: 16/9;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale3d(1.05, 1.05, 1);
      }
    }
  }

  .play_name {
    // font-weight: 400;
  }

  .play_rating {
    display: flex;
    padding: 0.4rem 0.7rem;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background-color: $grey;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    color: $primary;
  }

  .play_genre {
    font-size: 0.8rem;
    margin-top: 4px;
  }

  .play_description {
    font-size: 1rem;
    margin-top: 8px;
    line-height: 1.4;
    color: $grey-text;
  }
}
