* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

//Variables
$black: #1f2024;
$grey: #3a3a3a;
$grey-text: #a8a8a8;
$white-text: #f1f1f1;
$primary: #dc9763;
$primary-dark: #aa6b3c;

body {
  background-color: $black;
  position: relative;
}

.App {
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  color: $grey-text;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 600;
  color: $white-text;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: $white-text;
  line-height: 2rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 600;
  color: $white-text;
  font-weight: bold;
}

h4 {
  color: $white-text;
}

a {
  text-decoration: none;
  color: $grey-text;
}

main {
  width: 100%;
  max-width: 1280px;
  padding: 94px 5% 2rem;
  overflow: visible;
  @media screen and (min-width: 1280px) {
    margin: 0 auto 6rem;
    padding: 0 0 40px;
    overflow: hidden;
  }
}

section {
  display: flex;
  padding: 2.5rem 0;
}

p {
  margin-top: 0.25rem;
  color: $grey-text;
  line-height: 1.4;
}

img {
  display: block;
}

.param {
  display: block;
  margin-top: 1.5rem;
  color: $white-text;
}

.button_main {
  background-color: $primary;
  font-size: 1rem;
  padding: 1rem 2rem;
  color: $black;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: $primary-dark;
    color: $white-text;
  }
}

@import "./nav";
@import "./section";
@import "./play";
@import "./actor";
@import "./playsPage";
@import "./actorsPage";
@import "./actorDetail";
@import "./playDetail";
@import "./contacts";
@import "./footer";
@import "./login";
@import "./adminPage";
