* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

//Variables
$main-black: #1f2024;
$lighter-black: #3a3a3a;
$main-text: #cfcfcf;
$bright-text: #f5f5f5;
$primary: #dc9763;

body {
  background-color: $main-black;
  position: relative;
}

.App {
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  color: $main-text;
}

ol,
ul {
  list-style: none;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 600;
  color: $bright-text;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $main-text;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

section {
  display: flex;
  padding: 2rem 0;
}

img {
  display: block;
}

@import "./nav";
@import "./hero";
