* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

//Variables
$black: #1f2024;
$grey: #3a3a3a;
$grey-text: #a8a8a8;
$white-text: #f1f1f1;
$primary: #dc9763;

body {
  background-color: $black;
  position: relative;
}

.App {
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  color: $grey-text;
  padding: 0 5%;
}

ol,
ul {
  list-style: none;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 600;
  color: $white-text;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: $white-text;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 600;
  color: $white-text;
  font-weight: bold;
}

h4 {
  color: $white-text;
}

a {
  text-decoration: none;
  color: $grey-text;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

section {
  display: flex;
  padding: 3rem 0;
}

img {
  display: block;
}

@import "./nav";
@import "./section";
@import "./play";
@import "./actor";
@import "./playsPage";
@import "./actorsPage";
@import "./actorDetail";
