nav {
  width: 100%;
  background-color: $grey;
  overflow: hidden;

  .nav_container {
    display: flex;
    padding: 1.5rem 5%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    z-index: 10;
    overflow: hidden;
    background-color: $black;
    box-shadow: 0px 6px 16px $black;

    @media screen and (min-width: 992px) {
      position: relative;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  .menu_button {
    align-self: stretch;
    padding: 0 1.5rem;
    background-color: $black;
    font-size: 0.9rem;
    color: $white-text;
    border: 1px solid $grey-text;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
    text-transform: uppercase;
    width: 116px;

    @media screen and (min-width: 992px) {
      display: none;
    }

    &:hover {
      background-color: $primary-dark;
      color: $white-text;
    }
  }

  .nav_links {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    background-color: $black;
    padding: 5rem 0;
    row-gap: 1rem;
    height: 100vh;

    .nav_link {
      padding: 1rem 2rem;
      border-radius: 0.2rem;
      transition: all 0.2s ease-out;
      color: $grey-text;
      font-size: 1rem;
      width: 100%;
      text-align: end;

      @media screen and (min-width: 992px) {
        width: auto;
      }

      &:hover {
        background-color: $grey;
        color: $primary;
      }
    }

    .nav_link-active {
      padding: 1rem 2rem;
      border-radius: 0.2rem;
      transition: all 0.2s ease-out;
      color: $primary;
      background-color: #161616;
      font-size: 1rem;
      width: 100%;
      text-align: end;

      @media screen and (min-width: 992px) {
        width: auto;
      }
    }
  }

  .nav_links-hidden {
    display: none;
  }

  .nav_links-fs {
    display: none;
    @media screen and (min-width: 992px) {
      width: auto;
      display: flex;
      height: auto;
      flex-direction: row;
      padding: 0;
    }
  }
}

.logo {
  span {
    display: block;
    font-size: 2rem;
    line-height: 0.9;
    font-weight: bold;
    color: $white-text;
    letter-spacing: 1.4px;
  }
  .small_text {
    font-size: 0.9rem;
    font-weight: lighter;
    color: $grey-text;
  }
}
